	<!-- Footer section -->
	<footer class="footer-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6">
					<div class="footer-widget about-widget">
						<img src="PHOTO-2020-07-25-14-33-58.jpg" alt="">
						<!-- <p>Lorem ipsum dolor sit amet, consec-tetur adipiscing elit. Quisque orci purus, sodales in est quis, blandit sollicitudin est. Nam ornare ipsum ac accumsan auctor. Donec consequat arcu et commodo interdum. </p> -->
						<div class="footer-social">
							<a href=""><i class="fa fa-facebook"></i></a>
							<a href=""><i class="fa fa-twitter"></i></a>
							<a href=""><i class="fa fa-dribbble"></i></a>
							<a href=""><i class="fa fa-behance"></i></a>
						</div>
					</div>
				</div>
	
<div class="col-lg-3 col-md-6 col-sm-7">
    <div class="footer-widget foot">
        <h2 class="fw-title">Contact Us</h2>
        <div class="footer-info-box">
            <div class="fib-icon">
                <img src="map-marker.png" alt="" class="">
            </div>
            <div class="fib-text">
                <p>323/8 Gram Palda,<br>Nemawar, Road, Indore - 452001 Madhya Pradesh INDIA</p>
            </div>
        </div>
        <div class="footer-info-box">
            <div class="fib-icon">
                <img src="phone.png" alt="" class="">
            </div>
            <div class="fib-text">
                <p>+91 9302565385 (Mukesh GARG)<br>+91 9303242504 (Mahesh GARG)<br>gargplasticindore@gmail.com</p>
            </div>
        </div>
        <!-- <form class="footer-search">
            <input type="text" placeholder="Search">
            <button><i class="fa fa-search"></i></button>
        </form> -->
    </div>
</div>
</div>
</div>
<div class="footer-buttom">
<div class="container">
<div class="row">
<div class="col-lg-4 order-2 order-lg-1 p-0">
    <div class="copyright"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></div>
</div>
<div class="col-lg-7 order-1 order-lg-2 p-0">
    <ul class="footer-menu">
        <li class="active"><a href="index.html">Home</a></li>
        <li><a href="about.html">About us</a></li>
        <!-- <li><a href="solutions.html">Solutions</a></li> -->
        <!-- <li><a href="blog.html">Blog</a></li> -->
        <li><a href="contact.html">Contact</a></li>
    </ul>
</div>
</div>
</div>
</div>
</footer>
	<!--====== Javascripts & Jquery ======-->
	<script src="js/jquery-3.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.slicknav.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/circle-progress.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/main.js"></script>

	</body>
</html>
