<!DOCTYPE html>
<html lang="zxx">
<head>
	<title>Garg Plastic</title>
	<meta charset="UTF-8">
	<meta name="description" content="Industry.INC HTML Template">
	<meta name="keywords" content="industry, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Favicon -->
	<link href="PHOTO-2020-07-25-14-33-58.jpg" rel="shortcut icon"/>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">


	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css"/>
	<link rel="stylesheet" href="css/font-awesome.min.css"/>
	<link rel="stylesheet" href="css/slicknav.min.css"/>
	<link rel="stylesheet" href="css/owl.carousel.min.css"/>

	<!-- Main Stylesheets -->
	<!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="css/style.css"/>


	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section  -->
	 <header class="header-section clearfix">
		<!-- <div class="header-top">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
					<div class="col-md-6 text-md-right">
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
				</div>
			</div>
		</div> -->
		<div class="site-navbar">
			<!-- Logo -->
			<a href="index.html" class="site-logo">
				<img id="mono" src="PHOTO-2020-07-25-14-33-58.jpg" alt="">
			</a>
			<div class="header-right">
				<div class="header-info-box">
					<div class="hib-icon">
						<img src="phone.png" alt="" class="">
					</div>
					<div class="hib-text">
						<h6>+91 9302565385 (Mukesh Garg)</h6>
						<h6>+91 9303242504 (Mahesh Garg)</h6>
						<p>gargplasticindore@gmail.com</p>
					</div>
				</div>
				<div class="header-info-box">
					<div class="hib-icon">
						<img src="map-marker.png" alt="" class="">
					</div>
					<div class="hib-text">
						<h6>323/8 Gram Palda</h6>
						<p>Nemawar, Road, Indore - 452001 Madhya Pradesh INDIA</p>
					</div>
				</div>
				<!-- <button class="search-switch"><i class="fa fa-search"></i></button> -->
			</div>
			<!-- Menu -->
			<nav class="site-nav-menu">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li class="active"><a href="about.html">About us</a></li>
					<!-- <li><a href="solutions.html">Solutions</a>
						<ul class="sub-menu">
							<li><a href="elements.html">Elements</a></li>
						</ul>
					</li> -->
					<!-- <li><a href="blog.html">Blog</a></li> -->
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</nav>

		</div>
	</header>
	<!-- Header section end  -->
